<div class="container">
  <div class="row">
    <div class="md-col-12 about-project">
      <h2>Perfil Público</h2>

      <p>
        PerfilPublico is a website that focus on giving an overall look about what politicians proposed and what they actually did when they got elected.
      </p>

      <p>
        What we see, election after election, is that most candidates are elected with the same promises that they did before, but never accomplished. With our website, voters may check which of the candidates are actually getting things accomplished and the kind of promises that they are doing.
      </p>

      <p>
        Users may contribute by commenting, choosing which proposals they like or dislike and adding proposals for candidates. Those proposals must contain a link to a video, article or something that proves that the candidate did that promise.
      </p>

      <p>
        For political reasons and since RailsRumble is a programming competition, we decided to use fake data in our demo application. But we will add real data after the competition.
      </p>
    </div>
  </div>
</div>
