<header class="state-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="state-img" style="">
        </div>
      </div>
      <div class="col-md-9">
        <h3 class="state-name">Alagoas</h3>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 candidate-list">
      <h3>President</h3>
      <ul>
        <li>
          <a href="#">
            <div class="box-image"></div>
            <span class="name">Aécio Neves</span> - Eleito em 2014
          </a>
        </li>
        <li>
          <a href="#">
            <div class="box-image"></div>
            <span class="name">Aécio Neves</span> - Eleito em 2014
          </a>
        </li>
      </ul>
      <h3>President</h3>
      <ul>
        <li>
          <a href="#">
            <div class="box-image"></div>
            <span class="name">Aécio Neves</span> - Eleito em 2014
          </a>
        </li>
        <li>
          <a href="#">
            <div class="box-image"></div>
            <span class="name">Aécio Neves</span> - Eleito em 2014
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
