/*********************************************************************
*  Colors
*********************************************************************/

$color-white:			#ffffff;
$color-dark:			#000000;
$color-grey:			#cccccc;



/*********************************************************************
*  Typography
*********************************************************************/

$base-font-size: 				16;
$base-line-height:  			16;

$base-font-family: 				'Roboto', sans-serif;
$base-title-font-family: 		'Roboto', sans-serif;
