/*********************************************************************
*  Colors
*********************************************************************/

$color-white:			#ffffff;
$color-dark:			#000000;
$color-grey:			#cccccc;
$color-green:			#2cbf88;
$color-blue:			#0D6D9D;
$color-lemon:			#E4F05C;


/*********************************************************************
*  Typography
*********************************************************************/

$base-font-size: 					16;
$base-line-height:  			16;

$base-font-family: 				'Roboto', sans-serif;
$base-title-font-family:	'Roboto', sans-serif;

/*********************************************************************
*  Header
*********************************************************************/

$header-height: 91px;
