@import "base/variables";

.btn-green {
	$btn-font-size: 20px;
	$btn-border-color: darken($color-green, 10%);

	background-color: $color-green;
	color: $color-white;
	height: $btn-font-size * 2 + 20px;
	line-height: $btn-font-size * 2;
	width: 300px;
	font-size: $btn-font-size;
	border-bottom: 7px solid $btn-border-color;

	&:hover,
	&:focus {
		color: $color-white;
		background-color: lighten($color-green, 5%);
		border-bottom: 7px solid lighten($btn-border-color, 5%);
	}

	&:active {
		color: $color-white;
		background-color: darken($color-green, 5%);
		border-bottom: 7px solid darken($btn-border-color, 5%);
	}
}
