/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "nprogress";
@import "nprogress-bootstrap";
@import "base/variables";
@import "base/mixins";
@import "bootstrap";

/*********************************************************************
*  Common Styles
*********************************************************************/
body {
	font-family: $base-font-family;
}


.section-title {
	text-align: center;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-weight: 100;
}

/*********************************************************************
*  Header
*********************************************************************/
.header {
	height: $header-height;
	width: 100%;
	position: fixed;
	top: 0;
	background: $color-white;
	z-index: 10000;
	box-shadow: 1px 0px 3px #666;
}
.logo-header {
	h1 {
		display: inline-block;
	}
	float: left;
}
.menu-nav {
	margin-left: 120px;
	float: left;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;

			a {
				line-height: $header-height;
				padding: 0 40px;
				font-size: 18px;
				color: $color-dark;
				display: block;
				text-decoration: none;

				opacity: 1;
				transition: opacity .45s ease-in-out;
				-moz-transition: opacity .45s ease-in-out;
				-webkit-transition: opacity .45s ease-in-out;
				&:hover {
					background: #0394da;
					color: $color-white;
					opacity: 0.7;
				}
			}
		}
	}
}

.header .candidate-search {
	padding-top: 25px;
	.form-group {
		float: left;
		input#search {
			height: 40px;
			width: 200px;
			padding-left: 10px;
			@include placeholder(darken($color-white, 15%));
			&:focus {
	            outline: none;
	        }
		}

	}
	.btn {
		float: left;
		width: 140px;
		height: 40px;
		line-height: 30px;
		padding: 0;
		border: 1px;
		border-radius: 0;
	}
}


/*********************************************************************
*  Footer
*********************************************************************/
.footer {
	margin: 100px 0 20px 0;
	color: $color-grey;
	text-align: center;
}



/*********************************************************************
*  Featured Main
*********************************************************************/

.main-content {
	margin-top: $header-height;
}

.featured-content-home {
	margin-top: $header-height;
	background: #245064 url(image_path('featured-home-bg.jpg')) center no-repeat;
	height: 300px;
	text-align: center;
	width: 100%;
	padding: 50px 0 0 0;
	h2 {
		color: $color-white;
		font-size: 68px;
	}
}


/*********************************************************************
*  Map
*********************************************************************/
.box-map {
	text-align: center;
}

#svg-map path { fill:#0094d9 }
#svg-map text { fill: $color-white; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#003399 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
