// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base/variables";
@import "components/btn-green";

$photo-size: 150px;

.candidate-header {
	background-color: $color-blue;
	color: $color-white;
	@include clearfix;

	h1 span {
		@extend .text-uppercase;
		font-weight: 100;
		font-size: 20px;
	}

	.add-candidate {
		@extend .btn;
		@extend .btn-green;
		margin-top: $photo-size / 3;
		float: right;
		margin-right: 30px;
	}
}
.candidate-proposals,
.candidate-info,
.candidate-comments {
	margin-top: 20px;
}

.candidate-proposals {
	li.accomplished {
		list-style-image: image-url('accomplished.png');
	}

	li.in_progress {
		list-style-image: image-url('in_progress.png');
	}

	li.not_accomplished {
		list-style-image: image-url('not_accomplished.png');
	}
}

.candidate-comments {
	h4 {
		font-size: 24px;
		font-weight: bold;
	}
}

.candidate-info {
	font-size: 16px;
	dl,
	.bio {
		margin: 0 auto;
		max-width: 800px;
	}
	.bio {
		margin-top: 20px;
	}
}

.candidate-img {
	@extend .img-circle;
	@extend .pull-right;
	width: $photo-size;
	height: $photo-size;
	border: 5px solid $color-white;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 10px 0;
}

.candidate-list-img {
	@extend .candidate-img;
	width: $photo-size / 2;
	height: $photo-size / 2;
}







.candidate-promises-list {
	.promises-list-title{
		font-weight: bold;
		color: $color-blue;
		font-size: 38px;
		margin-bottom: 20px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: 30px;

			.promise {
				.promise-category {
					text-align: right;
					.category-label {
						margin-right: 40px;
						font-weight: bold;
						line-height: 60px;
						font-size: 25px;
						text-transform: uppercase;
					}
				}
				.box-promise {
					.promise-icon {
						width: 20px;
						height: 20px;
						background: #e1f5ff;
						-ms-transform: rotate(45deg); /* IE 9 */
					    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
					    transform: rotate(45deg);
					    position: absolute;
					    top: 19px;
					    left: -9px;
					}
					background-color: #e1f5ff;
					// padding: 10px 20px;
					border-radius: 10px;
					position: relative;
					h4 {
						font-weight: bold;
					}
					a {
						color: $color-blue;
					}
				}
			}
			&:nth-child(odd) {
				.box-promise {
					float: left;
					.promise-icon {
						right: -9px;
						left: auto;
					}
				}
				.promise-category {
					float: right;
				}
			}
		}
	}
}




