<header class="promise-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span class="name">aecio neves</span> - promises</h2>
      </div>
    </div>
  </div>
</header>

<div class="content-promise">
  <div class="promise-title">
    <div class="container">
      <div class="row">
        <div class="category-icon col-md-1">
          <%= image_tag "category-icon.png" %>
          road
        </div>
        <div class="promise-title-text col-md-11">
          Criação do Ministério da Infraestrutura para comando dos setores de transporte,
energia, comunicação e portos
        </div>
      </div>
    </div>
  </div>
  <div class="promise-body container">
    <div class="row date-social">
      <div class="col-md-3 date">
        October 09, 2014
      </div>
      <div class="col-md-9 social">
        Social Links
      </div>
    </div>
    <div class="row votation">
      <div class="col-md-6">
          <a href="#" class="votation-like">+</a>
          <span class="votation-label-like">Right</span>
      </div>
      <div class="col-md-6">
          <a href="#" class="votation-not-like">-</a>
          <span class="votation-label-not-like">debit</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita. Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! danadinha! Mainhaa! Agora use meu lorem ipsum ordinária!!! Olha o quibeee! rema, rema, ordinária!.
        </p>
        <p>
          Você usa o Lorem Ipsum tradicional? Sabe de nada inocente!! Conheça meu lorem que é Tchan, Tchan, Tchannn!! Txu Txu Tu Paaaaa!! Vem, vem ordinária!! Venha provar do meu dendê que você não vai se arrepender. Só na sacanageeem!! Eu gostchu muitchu, heinn! Eitchaaa template cheio de abundância danadaaa!! Assim você mata o papai hein!? Etâaaa Mainhaaaaa...me abusa nesse seu layout, me gera, me geraaaa ordinária!!! Só na sacanagem!!!! Venha provar do meu dendê Tu du du pááá!.
        </p>
        <div class="links">
          <h4>Links</h4>
          <ul>
            <li>
              <a href="http://diariocatarinense.clicrbs.com.br/sc/politica/eleicoes-2014/noticia/2014/10/conheca-as-propostas-de-dilma-rousseff-e-aecio-neves-
4623985.html">http://diariocatarinense.clicrbs.com.br/sc/politica/eleicoes-2014/noticia/2014/10/conheca-as-propostas-de-dilma-rousseff-e-aecio-neves-
4623985.html</a>
            </li>
            <li>
              <a href="http://diariocatarinense.clicrbs.com.br/sc/politica/eleicoes-2014/noticia/2014/10/conheca-as-propostas-de-dilma-rousseff-e-aecio-neves-
4623985.html">http://diariocatarinense.clicrbs.com.br/sc/politica/eleicoes-2014/noticia/2014/10/conheca-as-propostas-de-dilma-rousseff-e-aecio-neves-
4623985.html</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row image-list">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>
